 


<div class="background">    </div>
<div id="white"></div>
<div id="backgroundimg"></div>


<nav class="navbar-expand-lg navbar-light= bg-light" id="nav1">

   
  <img src='assets/Images/logo2.png' id="img5" alt="Logo">

  <a routerLink="/Home">Home</a>
  <a routerLink="#">About</a>
  <a routerLink="#">Admission</a>
  <a routerLink="#">Academic</a>
  <a routerLink="#">Faculty</a>
  <a routerLink="#">Achievements</a>
  <a routerLink="#">Activities and Initiatives</a>
  <a routerLink="#">NIRF</a>
  <a routerLink="#">Career</a>
  <a routerLink="#">Reach Us</a>


</nav> 



  <ngb-carousel *ngIf="images">
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="images[0]" alt="Random first slide"  height="500"/>
		</div>
		<div class="carousel-caption">
		
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="https://images.pexels.com/photos/1370296/pexels-photo-1370296.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Random second slide" height="500"/>
		</div>
		<div class="carousel-caption">
		
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="https://images.pexels.com/photos/267885/pexels-photo-267885.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1  " alt="Random third slide" height="500" />
		</div>
		<div class="carousel-caption">
		
		</div>
	</ng-template>
</ngb-carousel>
<div class="container">
      <div class="row">
          <div class="col-md-4" >
            <img src="https://images.unsplash.com/photo-1523050854058-8df90110c9f1?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y29sbGVnZSUyMGdyYWR1YXRpb258ZW58MHx8MHx8fDA%3D" alt="image of Collage" height="400px" width="450px" >
          </div>
          <div class="col-md-8">
           <p id="pune"><b>Welcome to F.S. College of Engineering Pune</b> <br> 
            <br> Where knowledge Meets Innovation 
         
            The Best For Enginering Student in Pune The Only And Only One F.S.Collage Of Enginering.   F.S. College of Engineering, Pune, Is a Renowned Institution Known For Its Excellence In Engineering Education And Research.
            <br> 
            <br> Established With a Vision To Foster Innovation And Technical Expertise, Our College Has Been a Beacon Of Quality Education For [6] Years. With State-Of-The-Art Facilities, Experienced Faculty, And a Vibrant Learning Environment
            <br>
            <br>
            Good And Experienced Staff Provide You For Teaching.  Preparing Our Students For Successful Careers In The Ever-Evolving Field Of Engineering.

           </p>
          </div>
          

      </div>
</div>


<p id="p"  class="typewriter" [@fadeIn]="true">Welcome to F.S. Collage of Enginering Pune.</p>




<div class="card" style="width: 18rem;">
  <mat-card class="example-card2">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRItmqsT13ZPDUcCdtDanHEKtpvqsgY9WV7Hw&usqp=CAU" alt="Photo of teacher and student">
    <mat-card-content>
      <p id="same2">
       Last Year Selected Candidates In Campus Interview 50+
      </p>
    </mat-card-content>
    <mat-card-actions>
     
    </mat-card-actions>
  </mat-card>

  </div>


  <div class="card2" style="width: 18rem;">
  <mat-card class="example-card2">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://thorprojects.com/wp-content/uploads/2023/02/GroupCircle-16x9-1.jpg" alt="Photo of teacher and student">
    <mat-card-content>
      <p id="same2">
        Mock Interview Preperations 
      </p>
    </mat-card-content>
    <mat-card-actions>
     
    </mat-card-actions>
  </mat-card>

  </div>
 
  <div class="card3" style="width: 18rem;">
    <mat-card class="example-card2">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://img.freepik.com/premium-photo/lab-with-computers-servers-isometric-style_948994-3700.jpg" alt="Photo of teacher and student">
      <mat-card-content>
        <p id="same2">
          We provide Computer Labs And Many Other Facilites To Student 
        </p>
      </mat-card-content>
      <mat-card-actions>
       
      </mat-card-actions>
    </mat-card>
  
    </div>



    <footer class="bg-primary text-white text-center p-3 ">
      <div class="container" >
        <div class="row">
          
          <div class="col-md-4" >
            <p id="same">    Address :
              F.S. College of Enginering Site no. 1, Banashankari 6th Stage, 4th Block, Near Chikagowdanapalya Village, Off Vajarahalli Main Road, Pune </p>

              <p id="same">
                Phone:
                  +91-7689000032, +91-7459000032,  +91-7689001232,
              </p>

          </div>
          <div class="col-md-4" id="fs2">
            <p id="same">F.S. College of Enginering Pune</p>
            <p id="same">
              Your Gateway to Enginering Excellence
            </p>
          </div>
          
          <hr>
          <p id="two">
            &copy; Copyright 2020 F.S. Collage of Enginering. All Right Reserved
          </p>
        </div>
      </div>
    </footer>
   

    








  